@page "/"
@page "/service-page"
@page "/service-page/бесплатная-консультация"

<PageTitle>Luiza Estate</PageTitle>

<Section>
    <MudText Typo="Typo.h1" Style="font-weight: 500;">
        <p>Луиза</p>
        <p class="mt-n4">Алиниседова</p>
    </MudText>
    <MudText Typo="Typo.h5">Доверенный консультант по недвижимости</MudText>
    <MudGrid Class="mt-6" Justify="Justify.Center">
        <MudItem>
            <MudButton StartIcon="@Icons.Material.Outlined.Phone"
                       Color="Color.Secondary" Variant="Variant.Outlined" Size="Size.Large" DropShadow="false" Href="tel:+74957715514">
                Позвонить
            </MudButton>
        </MudItem>
        <MudItem>
            <MudButton StartIcon="@Icons.Custom.Brands.Telegram"
                       Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Large" DropShadow="false" Href="https://t.me/Luiza_real_estate">
                Написать
            </MudButton>
        </MudItem>
    </MudGrid>
</Section>

<Section>
    <MudPaper Width="100%" Elevation="0" Style="background:var(--mud-palette-primary)">
        <MudGrid Spacing="0">
            <MudItem Class="pa-8 pa-sm-14 pa-md-20 d-flex justify-center align-center" xs="12" md="6">
                <MudImage Style="height:500px" Src="/img/luiza-02.jpg" Fluid ObjectFit="ObjectFit.Cover" Alt="Луиза Алиниседова"></MudImage>
            </MudItem>
            <MudItem Class="pa-8 pa-sm-14 py-md-20 ps-md-0 pe-md-20" xs="12" md="6" Style="color:var(--mud-palette-primary-text);display:flex;flex-direction:column;justify-content:center;">
                <MudText Class="mb-8" Typo="Typo.h4" Align="Align.Start">
                    Обо мне
                </MudText>
                <MudStack Style="text-align:start">
                    <MudText Typo="Typo.body2">
                        Юрист-брокер с 25-летним опытом в сфере недвижимости Москвы и Московской области. 
                        Моя практика охватывает широкий спектр операций, 
                        от простых сделок купли-продажи до сложных межрегиональных обменов. 
                        Обладаю глубокими знаниями рынка, что позволяет предлагать клиентам оптимальные решения, 
                        соответствующие их потребностям и бюджету.
                    </MudText>
                    <MudText Typo="Typo.body2">
                        Как практикующий специалист, я сопровождаю сделки на всех этапах, 
                        обеспечивая юридическую чистоту и безопасность. 
                        Мои брокерские услуги включают подбор недвижимости, оценку рыночной стоимости, 
                        организацию показов и переговоров.
                    </MudText>
                    <MudText Typo="Typo.body2">
                        Также оказываю экспертную помощь в оформлении ипотеки, использовании материнского капитала и жилищных субсидий. 
                        Сотрудничаю с ведущими банками и страховыми компаниями, 
                        что позволяет предлагать клиентам выгодные условия кредитования и страхования.                         
                    </MudText>
                    <MudText Typo="Typo.body2">
                        Моя цель – сделать процесс покупки или продажи недвижимости максимально комфортным и эффективным для каждого клиента.
                    </MudText>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudPaper>
</Section>

<Section Title="Услуги">
    <MudText Typo="Typo.h5">
        Опыт, которому вы можете доверять
    </MudText>
    <MudGrid Class="pt-12" Spacing="8">
        <MudItem xs="12" sm="4">
            <ServiceCard Title="Консультации">
                <CoverImage>
                    <svg width="157" height="120" viewBox="0 0 157 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2440_9192)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.515 62.9496C35.8313 69.2659 35.8313 79.5069 29.515 85.8221C23.1987 92.1384 12.9588 92.1384 6.64248 85.8221C0.326204 79.5069 0.326204 69.2659 6.64248 62.9496C12.9588 56.6333 23.1987 56.6333 29.515 62.9496Z" fill="@tertiaryColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M151.356 30.6026C157.672 36.9189 157.672 47.1599 151.356 53.4762C145.04 59.7914 134.8 59.7914 128.483 53.4762C122.167 47.1599 122.167 36.9189 128.483 30.6026C134.8 24.2874 145.04 24.2874 151.356 30.6026Z" fill="@tertiaryColor" />
                            <path d="M48.6661 120L44.6367 117.762L110.08 -0.000488281L114.109 2.24116L48.6661 119.999V120Z" fill="@primaryColor" />
                        </g>
                        <defs>
                            <clipPath id="clip0_2440_9192">
                                <rect width="157" height="120" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </CoverImage>
                <ChildContent>
                    Предоставляю консультации по вопросам налогов, прав собственности и рефинансирования долга. А также провожу оценку стоимости недвижимости и анализ рынка.
                </ChildContent>
            </ServiceCard>
        </MudItem>
        <MudItem xs="12" sm="4">
            <ServiceCard Title="Сделки с недвижимостью">
                <CoverImage>
                    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2440_9198)">
                            <path d="M5.03042 50.5412V113.713H0V48.4549L43.4995 5.02979L47.054 8.59011L5.03042 50.5412Z" fill="@primaryColor" />
                            <path d="M114.97 50.5412V113.713H120V48.4549L76.5008 5.02979L72.9463 8.59011L114.97 50.5412Z" fill="@primaryColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M77.9766 97.3633C77.9766 107.088 70.0939 114.971 60.3692 114.971C50.6445 114.971 42.7617 107.088 42.7617 97.3633C42.7617 87.6386 50.6445 79.7559 60.3692 79.7559C70.0939 79.7559 77.9766 87.6386 77.9766 97.3633Z" fill="@tertiaryColor" />
                        </g>
                        <defs>
                            <clipPath id="clip0_2440_9198">
                                <rect width="120" height="120" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </CoverImage>
                <ChildContent>
                    Помогаю в сдаче и аренде жилых и нежилых помещений. Консультирую по вопросам покупки и аренды коммерческой недвижимости.
                </ChildContent>
            </ServiceCard>
        </MudItem>
        <MudItem xs="12" sm="4">
            <ServiceCard Title="Cопровождение">
                <CoverImage>
                    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M117.692 15.6923C117.692 24.3591 110.873 31.3846 102.461 31.3846C94.0492 31.3846 87.2305 24.3591 87.2305 15.6923C87.2305 7.02554 94.0492 0 102.461 0C110.873 0 117.692 7.02554 117.692 15.6923Z" fill="@tertiaryColor" />
                        <path d="M39.9239 120H2.30762V115.521H35.4922V81.9268H74.6104V51.6924H117.692V56.1711H79.0421V86.4065H39.923L39.9239 120Z" fill="@primaryColor" />
                    </svg>
                </CoverImage>
                <ChildContent>
                    Осуществляю проверку юридической чистоты объектов перед покупкой. Сопровождаю вас до момента подписания акта приема-передачи.
                </ChildContent>
            </ServiceCard>
        </MudItem>
    </MudGrid>
</Section>

<Section Title="Контакты">
    <MudText Typo="Typo.h5">
        <a href="mailto:atlas-com@yandex.ru" >atlas-com@yandex.ru</a>
    </MudText>
    <MudText Typo="Typo.h5">
        <a href="tel:+74957715514" style="font-size:2.7rem">+7 495 771 55 14</a>
    </MudText>
</Section>

<Section Style="background:var(--mud-palette-text-primary); color:var(--mud-palette-primary-text)">
    <MudStack Row>
        <MudIconButton Color="Color.Primary" Icon="@Icons.Custom.Brands.Telegram" Href="https://t.me/+7-Qh5us1_043ZTgy" />
        <MudIconButton Color="Color.Primary" Icon="@Icons.Custom.Brands.Instagram" Href="https://www.instagram.com/luiza_estate/" />
        <MudIconButton Color="Color.Primary" Icon="@vkIcon" Href="https://vk.com/lsedova2019" />
    </MudStack>
    <MudText>
        © 2025 Луиза Алиниседова - Консультант по недвижимости - Россия, Москва
    </MudText>
    <MudText>
        Сайт создан <a href="https://bimo.tools/" style="color:var(--mud-palette-tertiary)">BIMO Tools</a>
    </MudText>
    
</Section>
